
.index{
    background-color: #fcfcfc;
}

.index-container {
display: flex;
}

.logo {
    width: 150px;
    height: 130px;
    margin-right: 400px;

}
.right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.phone{
    width: 300px;
    color: black;
    background-color: white;
}

.options {  
    margin-left: auto;
    display: flex;
    
    justify-content: space-between;
    height: 270px;
    width: 300px;
    
}

.title {
    color: #0a0a0a;
    
}
.title-content {
    /*margin-left: 280px; */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    font-family: "Fraunces", serif;
    font-weight: 100;
    

}
.title h1{
    margin:0;
    font-size: 106px;
}

.hero-image {
    width: 350px;
    height: auto;
    
}

.hero-title {
    align-self: flex-start;
    padding-left: 45px;
}

.solution-title {
align-self: flex-start;
padding-left: 10px;
}

.title h3 {
    font-size: 25px;
    font-weight: 300;
    padding-left: 130px;
    margin-top: 50px;
}

.button {
    align-self: flex-start;
    margin-left: 120px;
    font-size: 18px;
    padding: 10px 45px;
    border-radius: 12px;
    background-color:green;
    color: white;
}



.about {
    background-color: #D4E9CF; 
}


.home {
max-width: 800px;
margin: 0 auto;
}

.home-title {
    text-align: center;
    font-size: 86px;
    font-family: "Fraunces", serif;
    margin-bottom: .1em;
    color: #052812;
}
.expertise {
    text-align: center;
    font-size: 25px;
    font-family: 'Inter', sans-serif; 
    color: #052812;
    
}

.about-me {
    font-family: 'Inter', sans-serif; 
    font: 30px;
    color: #052812;
    line-height: 25px;

}

.button2 {
border-radius: 12px;
 background-color: green;
 color: white;
 margin-left: 320px;
 font-size: 19px;
 padding: 10px 45px;
 margin-top: 20px;
}


.services {
    background-color: #D4E9CF;
}

.service-title {
    text-align: center;
    font-size: 68px;
    color: #052812;
}
.support{
    display: flex;
    color: #052812;

}

.support h4 {
    font-size: 37px;
    font-family: "Fraunces", serif;
}




.repair {
    text-align: center;
}



.contact {
    text-align: center;
}