





.container {

display: flex;


}
.options {
    margin-left: auto;
    display: flex;
    flex-grow: .2;
    justify-content: space-between;
    
}
.title {
    margin-left: 350px;
    display: flex;
    flex-direction: column;
}
.title1,
.title2,
.title3 {
    margin:0;
}

.button {
    margin-left: 370px;

}
.about {
text-align: center;
}