
.index{
    background-color: #FFFAF1;
}

.index-container {
display: flex;
}
.options {  
    margin-left: auto;
    display: flex;
    
    justify-content: space-between;
    height: 270px;
    width: 300px;
    
}
.logo {
    width: 250px;
    height: 250px;

}
.title {
    color: #052812;
    
}
.title-content {
    /*margin-left: 280px; */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    font-family: "Fraunces", serif;
    font-weight: 200;

}
.title h1{
    margin:0;
    font-size: 106px;
}

.hero-title {
    align-self: flex-start;
    padding-left: 45px;
}

.solution-title {
align-self: flex-start;
padding-left: 10px;
}

.title h3 {
    font-size: 25px;
    font-weight: 300;
    padding-left: 130px;
    margin-top: 50px;
}

.button {
    align-self: flex-start;
    margin-left: 120px;
    font-size: 18px;
    padding: 10px 45px;
    border-radius: 12px;
    background-color:green;
    color: white;
}



.about {
    background-color: #D4E9CF; 
}


.home {
max-width: 800px;
margin: 0 auto;
}

.home-title {
    text-align: center;
    font-size: 86px;
    font-family: "Fraunces", serif;
    margin-bottom: .1em;
    color: #052812;
}
.expertise {
    text-align: center;
    font-size: 25px;
    font-family: 'Inter', sans-serif; 
    color: #052812;
    
}

.about-me {
    font-family: 'Inter', sans-serif; 
    font: 30px;
    color: #052812;
    line-height: 25px;

}

.button2 {
border-radius: 12px;
 background-color: green;
 color: white;
 margin-left: 320px;
 font-size: 19px;
 padding: 10px 45px;
 margin-top: 20px;
}


.service-title {
    text-align: center;
}
.services{
    display: flex;

}

.contact {
    text-align: center;
}