
.index{
    background-color: #FFFAF1;
}

.index-container {
display: flex;
}
.options {  
    margin-left: auto;
    display: flex;
    
    justify-content: space-between;
    height: 270px;
    width: 300px;
    
}
.logo {
    width: 250px;
    height: 250px;

}
.title {
    color: #052812;
    
}
.title-content {
    /*margin-left: 280px; */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    font-family: "Fraunces", serif;
    font-weight: 200;

}
.title h1{
    margin:0;
    font-size: 106px;
}

.hero-title {
    align-self: flex-start;
    padding-left: 45px;
}

.solution-title {
align-self: flex-start;
padding-left: 10px;
}

.title h3 {
    font-size: 25px;
    font-weight: 300;
    padding-left: 130px;
    margin-top: 50px;
}

.button {
    align-self: flex-start;
    margin-left: 120px;
    font-size: 18px;
    padding: 10px 45px;
    border-radius: 12px;
    background-color:green;
    color: white;
    


}
.about {
text-align: center;
}

.service-title {
    text-align: center;
}
.services{
    display: flex;

}

.contact {
    text-align: center;
}